* {
  font-family: "karla", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0b2434;
  width: 100vw;
  height: 100vh;
}

main.app {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  border-radius: 30px;
  background-color: #f5f5f5;
  max-width: 400px;
  height: 400px;
}

.score-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.score-points {
  margin: 0 5px;
  display: inline-block;
  color: #ffffff;
  padding: 5px;
  align-items: center;
  font-size: 20px;
  letter-spacing: 5px;
  background-color: rgb(148, 148, 148);
  border-radius: 5px;
}

.description {
  gap: 5px;
  display: flex;
  width: 90%;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}

.description h1 {
  font-weight: 700;
  font-size: 30px;
}

.description p {
  font-family: "inter";
  font-size: 16px;
  font-weight: 400;
  color: #4a4e74;
}
.dies-wrapper {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(2, 50px);
  width: 100%;
  gap: 15px;
  border-radius: 15px;
}

.die-square {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.dots {
  line-height: 16px;
  font-size: 30px;
  width: 2ch;
  word-break: break-all;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.5px;
}

.dice-button {
  font-size: 16px;
  color: #fff;
  border: 1px solid #4429f3;
  width: 40%;
  height: 45px;
  background: #5035ff;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 4px;
  cursor: pointer;
}

.dice-button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 600px) {
  main.app {
    width: 100vw;
    height: 100vh;
  }

  .dies-wrapper {
    display: flex;
    flex-flow: column wrap;
    width: 100vw;
    height: 325px;
  }

  .die-square {
    width: 50px;
    height: 50px;
  }
}
